<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>FileRoller</string>
	<key>CFBundleGetInfoString</key>
	<string>3.10.x,Copyright 2014 GPL</string>
	<key>CFBundleIconFile</key>
	<string>file-roller</string>
	<key>CFBundleIdentifier</key>
	<string>org.gtk.fileroller</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.10.2.1</string>
	<key>CFBundleSignature</key>
	<string>MacOS</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleName</key>
	<string>FileRoller</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2014 GPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
</dict>
</plist>
